@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body
{
	min-height:100%;
	min-width:100%;
	margin:0;
	padding:0;
	float: left;
	background-image:url("bg.jpg");
}

header h1
{
	text-align:center;
	color: white;
	font-size: 50px;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px #14c425 , 0 0 35px #14c425 , 0 0 40px #14c425 , 0 0 50px #14c425 , 0 0 75px #14c425 ;
	position:relative;
	width:100%;
}

article
{
	width: 100%;
	high:25em;
	margin:10px;
	background: rgba(255,254,204,0.8);
	border:solid silver 2px;
	border-radius:10px;
	float:left;
}

input.calcButton
{
	padding: 10px;
	margin: 10px;
}

input.field
{
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 5px
	border:solid silver 2px;
	border-radius:10px;
}

#res
{
	marging: 2px;
	padding: 2px;
	border:solid silver 2px;
	border-radius:10px;
}
#res1
{
	marging: 2px;
	padding: 2px;
	border:solid silver 2px;
	border-radius:10px;
}
#res2
{
	marging: 2px;
	padding: 2px;
	border:solid silver 2px;
	border-radius:10px;
}
